
.view-parent {
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
}

.view-parent  * {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
}

.wab-header {
    display: grid;
    grid-template-columns: 15fr 3.5fr 1.5fr;
}

.wab-header-title {
    grid-row: auto / span 3;
}

.wab-bold {
    font-weight: bold;
}

.wab-center {
    justify-self: center;
}
.wab-right {
    justify-self: end;
}

.wab-mission {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wab-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wab-basic{
    display: grid;
    grid-template-columns: 6fr 43fr 19fr 19fr;
}
